body {
  position: absolute;
  display: block;
  background-image: url("../images/wallpaper.jpg");
  background-attachment: cover;
  background-size: auto;
  margin: 0;
  background-repeat: no-repeat;
  color: #fff;
  height: 100%;
  width: 100%;
}

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.main_section img {
  width: 9em;
}
.main_section h1 {
  margin: 0;
  color: #fff;
  font-size: 4.5em;
  text-align: center;
}

.login-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3em;
  border-radius: 1em;
}
.login-form-div h1 {
  font-size: 2em;
  font-weight: normal;
  padding-top: 0.3em;
  color: #000;
}
.login-form-div img {
  width: 4em;
}

#login-form {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  color: #000;
}

#login-form label {
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}

#login-form input {
  margin-bottom: 0.2em;
  width: 100%;
}

#login-form button {
  width: 100%;
  margin-top: 0.9em;
}

@media only screen and (max-width: 1000px) {
  .login-form-div {
    padding: 1.4em;
  }
}
