@font-face {
  font-family: "Aileron-Black";
  src: url("Aileron/Aileron-Black.otf");
}
@font-face {
  font-family: "Aileron-BlackItalic";
  src: url("Aileron/Aileron-BlackItalic.otf");
}
@font-face {
  font-family: "Aileron-Bold";
  src: url("Aileron/Aileron-Bold.otf");
}
@font-face {
  font-family: "Aileron-BoldItalic";
  src: url("Aileron/Aileron-BoldItalic.otf");
}
@font-face {
  font-family: "Aileron-Heavy";
  src: url("Aileron/Aileron-Heavy.otf");
}
@font-face {
  font-family: "Aileron-HeavyItalic";
  src: url("Aileron/Aileron-HeavyItalic.otf");
}
@font-face {
  font-family: "Aileron-Italic";
  src: url("Aileron/Aileron-Italic.otf");
}
@font-face {
  font-family: "Aileron-Light";
  src: url("Aileron/Aileron-Light.otf");
}
@font-face {
  font-family: "Aileron-LightItalic";
  src: url("Aileron/Aileron-LightItalic.otf");
}

@font-face {
  font-family: "Aileron-Regular";
  src: url("Aileron/Aileron-Regular.otf");
}

@font-face {
  font-family: "Aileron-SemiBold";
  src: url("Aileron/Aileron-SemiBold.otf");
}
@font-face {
  font-family: "Aileron-SemiBoldItalic";
  src: url("Aileron/Aileron-SemiBoldItalic.otf");
}
@font-face {
  font-family: "Aileron-Thin";
  src: url("Aileron/Aileron-Thin.otf");
}
@font-face {
  font-family: "Aileron-ThinItalic";
  src: url("Aileron/Aileron-ThinItalic.otf");
}
@font-face {
  font-family: "Aileron-UltraLight";
  src: url("Aileron/Aileron-UltraLight.otf");
}
@font-face {
  font-family: "Aileron-UltraLightItalic";
  src: url("Aileron/Aileron-UltraLightItalic.otf");
}
